/* Responsive breakpoint */
$sm: 'screen and (min-width: 568px)'; // 568px
$ism: 'screen and (max-width: 568px)'; // 568px
$md: 'screen and (min-width: 768px)'; // 768px
$lg: 'screen and (min-width: 1024px)'; // 1024px
$xl: 'screen and (min-width: 1280px)'; // 1280px
$xxl: 'screen and (min-width: 1600px)'; // 1600px
/* ---Colors--- */
$background: #fff;
$footer: #f6f9fc;
$brand: #B50000;
$accent1: #ffcb37;
$accent2: #86fff9;
$accent3: #cff;
$accent4: #e9f0ff;
$color: #181818;
$button: #3c3c3c;
$success: #34ab76;
$error: #ff3c00;
$iconbg: #eee;
$border: #d8d8d8;
/* Docsie render */
#main {
  font-size: 1.4em;
  .pure-docsie .docsie-doc {
    padding: 0;
  }
  .docsie-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    min-height: 80vh;
    height: auto;
    background-image: url(https://chat.ttrprivatenextcloudserverdomain.cloud/files/9d7asm3cfpgr8q9a47c7q9qmpr/public?h=BAWY0gzHnArlP1rwaibv_e1i3A17nVCjxIpuKuBS6PM);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 0;
    @media #{$md} {
      background-size: 400px;
    }
    @media #{$xl} {
      background-size: 600px;
    }
    .docsie-header-conatiner {
      text-align: center;
      margin: 0 auto;
        max-width: 300px;
        @media #{$sm} {
          max-width: 600px;
          font-size: 1.1em;
        }
        @media #{$lg} {
          font-size: 0.8em;
          max-width: 800px;
          font-size: 1.4em;
        }
      h1.docsie-title {
        font-size: 2em;
        font-weight: bold;
        margin-block-start: 0;
        margin-block-end: 0.83em;
        margin-top: 0;
        margin-bottom: 0.5em;
        line-height: 1.2em;
      }
      p.docsie-subtitle {
        font-size: 1em;
        margin: 0 auto;
        margin-bottom: 1em;
      }
    }
  }
  .docsie-content {
    @media #{$lg} {
      font-size: 1.2em;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: middle;
      min-height: 60vh;
      h2 {
        font-size: 1.4em;
      }
      &.docsie-checker {
        .docsie-section-container {
          .docsie-checker-cell {
            padding: 1em;
          }
           @media #{$md} {
            display: grid;
            grid-column-gap: 60px;
            grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
            justify-items: center;
            align-items: center;
             .docsie-checker-cell {
               padding: 0;
             }
          }
          .docsie-section-title {
            grid-column: span 2;
          }
          
        }
      }
      .docsie-section-container {
        h2 {
          text-align: center;
        }
      }
      /* Special cases */
      &.docsie-section-0 {
        height: auto;
        padding: 2em 0;
        text-align: center;
        background: $accent4;
      }
      &.docsie-section-3 {
        background: $accent2;
      }
    }
  }
  .docsie-footer-nav {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin: 0;
    /* background-color: $accent3; */
    .rg-ctr {
      text-align: center;
      .box-rg {
      }
    }
  }
  
  .docsie-madewith {
    display: none;
  }
}
