/* Responsive breakpoint */
$sm: "screen and (min-width: 568px)"; // 568px
$ism: "screen and (max-width: 568px)"; // 568px
$md: "screen and (min-width: 768px)"; // 768px
$lg: "screen and (min-width: 1024px)"; // 1024px
$ilg: "screen and (max-width: 1023px)"; // 1024px
$xl: "screen and (min-width: 1280px)"; // 1280px
$xxl: "screen and (min-width: 1600px)"; // 1600px
/* ---Colors--- */
$background: #fff;
$footer: #f6f9fc;
$brand: #b50000;
$accent1: #ffcb37;
$accent2: #86fff9;
$accent3: #cff;
$accent4: #e9f0ff;
$color: #181818;
$button: #3c3c3c;
$success: #34ab76;
$error: #ff3c00;
$iconbg: #eee;
$border: #d8d8d8;
/* Docsie render */
#main {
  font-size: 1.4em;
  .pure-docsie .docsie-doc {
    padding: 0;
  }
  .docsie-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
    min-height: 80vh;
    height: auto;
    // background-image: url(https://chat.ttrprivatenextcloudserverdomain.cloud/files/9d7asm3cfpgr8q9a47c7q9qmpr/public?h=BAWY0gzHnArlP1rwaibv_e1i3A17nVCjxIpuKuBS6PM);
    // background-image: url(https://chat.ttrprivatenextcloudserverdomain.cloud/files/4g686qcse3djmpcziu3yf1nksa/public?h=cp7QPSTLG_L4r-XNX12P6X3p5md_ExRur97c7N5kXCw);
    background-image: url("../assets/docsie_background.jpg");
    background-repeat: no-repeat;
    // background-position: right bottom;
    background-position: center;
    background-size: 0;
    @media #{$lg} {
      // background-size: 400px;
      background-size: 120%;
    }
    @media #{$xl} {
      background-size: 90%;
      // background-size: 600px;
    }
    .docsie-header-conatiner {
      text-align: center;
      margin: 0 auto;
      max-width: 300px;
      @media #{$sm} {
        max-width: 600px;
        font-size: 1.1em;
      }
      @media #{$lg} {
        font-size: 0.8em;
        max-width: 800px;
        font-size: 1.4em;
      }
      h1.docsie-title {
        font-size: 2em;
        font-weight: bold;
        margin-block-start: 0;
        margin-block-end: 0.83em;
        margin-top: 0;
        margin-bottom: 0.5em;
        line-height: 1.2em;
      }
      p.docsie-subtitle {
        font-size: 1em;
        margin: 0 auto;
        margin-bottom: 1em;
      }
      // collision-2020 releted
      img.red-dot {
        height: 8px;
        width: 8px;
        margin: 0 2% 0.2% 2%;
      }
      .cp-1 {
        font-size: 0.9em;
      }
      .cp-2 {
        font-size: 0.75em;
      }
      .validity-text {
        font-size: 0.7em;
        font-weight: 100;
      }
      .st-icons-container {
        display: flex;
        justify-content: center;
        .st-el {
          margin: 0 40px;
          flex: 1 1 0%;
        }
        img.st-icon {
          height: 80px;
          width: 80px;
          margin-bottom: 8px;
        }
      }
    }
    .docsie-action-container {
      @media #{$md} {
        margin: 0 1em;
      }
      .ui-bt {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 4px 1em;
        margin-top: 1em;
        flex-wrap: wrap;
        white-space: normal;
        height: auto;
        min-height: 3em;
        line-height: normal;
        img {
          margin-right: 0.5em;
        }
      }
      .box {
        padding: 1em;
        @media #{$xl} {
          padding: 2em;
        }
      }
      .box-rg .rg-gr {
        width: 100%;
        input.ui-in {
          width: 100%;
        }
      }
      .docsie-hr-divider {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(white 7%, transparent 11%),
          linear-gradient(0deg, transparent 49%, #e5e5e5 50%, transparent 51%);
      }
    }
  }
  .publish-header {
    background-image: url(../assets/Publish-beautiful-documentation.svg);
  }
  .gather-feedback-header {
    background-image: url(../assets/Understand-your-customers-better.svg);
    @media #{$md} {
      // background-size: 400px;
      background-size: 65%;
    }
  }
  .sd-header {
    background-image: url(../assets/Collaboration-software-that-simplifies-the-way-you-create-documentation.svg);
  }
  .collision-2020-sd-header {
    @media #{$ilg} {
      background-image: url(../assets/collision_2020/mob-bg.svg);
      background-size: 100%;
      background-position: top;
      .docsie-header-conatiner {
        margin-top: 6%;
      }
    }
    @media #{$lg} {
      background-image: url(../assets/collision_2020/collision_2020-bg.svg);
      background-size: 98%;
      padding: 0;
      min-height: 0;
      .docsie-header-conatiner {
        transform: scale(0.7);
        margin-top: 2%;
        h1.docsie-title {
          font-size: 1.72em;
          margin-top: 4.8%;
        }
      }
    }
    @media #{$xl} {
      background-image: url(../assets/collision_2020/collision_2020-bg.svg);
      background-size: 90%;
      padding: 1em 1em;
      .docsie-header-conatiner {
        transform: scale(0.9);
        margin-top: 2%;
        h1.docsie-title {
          font-size: 1.72em;
          margin-top: 4.8%;
        }
      }
    }
  }
  .dm-header {
    background-image: url(../assets/Easily_organize_documentation_with_books_and_shelves.svg);
  }
  .docsie-content {
    @media #{$lg} {
      font-size: 1.2em;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: middle;
      min-height: 60vh;
      padding: 2em 0;
      h2 {
        font-size: 1.4em;
      }
      &.docsie-checker {
        .docsie-section-container {
          .docsie-checker-cell {
            padding: 1em;
          }
          @media #{$md} {
            display: grid;
            grid-column-gap: 60px;
            grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
            justify-items: center;
            align-items: center;
            .docsie-checker-cell {
              padding: 0;
            }
          }
          .docsie-section-title {
            grid-column: span 2;
          }
        }
      }
      .docsie-section-container {
        h2 {
          text-align: center;
        }
      }
      /* Special cases */
      // &.docsie-section-primary {
      //   height: auto;
      //   padding: 2em 0;
      //   text-align: center;
      //   background: $accent4;
      // }
      // &.docsie-section-3 {
      //   background: $accent2;
      // }
    }
  }
  .docsie-footer-nav {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    margin: 0;
    /* background-color: $accent3; */
    .rg-ctr {
      text-align: center;
      .box-rg {
      }
    }
  }

  .docsie-madewith {
    display: none;
  }

  .box-rg {
    .rg-gr {
      input.ui-in,
      button.ui-bt {
        width: 100%;
      }
    }
    .ui-bt {
      width: 100%;
    }
  }
}
