/* Responsive breakpoint */
$sm: 'screen and (min-width: 568px)'; // 568px
$ism: 'screen and (max-width: 568px)'; // 568px
$md: 'screen and (min-width: 768px)'; // 768px
$lg: 'screen and (min-width: 1024px)'; // 1024px
$xl: 'screen and (min-width: 1280px)'; // 1280px
$xxl: 'screen and (min-width: 1600px)'; // 1600px
/* ---Colors--- */
$background: #fff;
$footer: #f6f9fc;
$brand: #B50000;
$accent1: #ffcb37;
$accent2: #86fff9;
$accent3: #cff;
$accent4: #e9f0ff;
$color: #181818;
$button: #3c3c3c;
$success: #34ab76;
$error: #ff3c00;
$iconbg: #eee;
$border: #d8d8d8;

h1 {
  text-align: center;
  font-size: 3em;
  margin: 2em 0 1em 0;
}

.docsie-pricing-table {


  .docsie-grid-cell.docsie-price-tier {
    min-width: unset;

    .docsie-card {
      padding: 1.5rem;
    }

    h3,
    p,
    ul {
      margin: 0.5rem 0;
      flex-grow: 0;
    }

    // h3 {
    //   margin-top: 1rem;
    // }

    ul {
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 0.3rem;
        padding-left: 1rem;

        &:before {
          content: '✓';
          margin-left: -1rem;
          margin-right: 10px;
        }
      }
    }

    .tier-price {
      font-weight: 600;
      font-size: large;

      @media #{$md} {
        height: 1.2rem
      }
    }

    .price-description {
      @media #{$md} {
        min-height: 4rem
      }
    }

    .meta {
      font-size: small;
    }

    .ui-bt {
      width: 100%;
      margin-bottom: 1em;
    }

    .docsie-card>*:first-child {
      flex-grow: 0
    }

    .tier-description {
      flex-grow: 1;
    }

    // .tier-footer  {
    //   margin: 1rem;
    // }
  }
}

.docsie-pricing {
  table {
    margin: 4em 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;

    thead,
    tbody {
      tr {
        *:first-child {
          width: 180px;

          @media #{$lg} {
            width: 250px;
          }
        }

        th,
        td {
          &:nth-child(even) {
            width: 15px;
          }

          &:nth-child(odd) {
            background-color: $accent4;
          }

          &:nth-child(1) {
            background-color: unset;
          }
        }

      }
    }

    thead {
      tr th {
        padding: 2em 0.5em;
      }
    }

    tbody {
      tr {

        th,
        td {
          padding: 0.5rem 1rem;
          font-size: small;

          @media #{$lg} {
            font-size: medium;
          }
        }

        th {
          text-align: left;
        }

        td {
          text-align: center;
        }

        &:not(.title):hover {

          th,
          td {
            background-color: $accent3;
          }
          
          td:last-of-type:hover {
            background-color: $background;
          }
        }

        &.title {
          text-transform: uppercase;

          th {
            padding-left: 0;
          }
        }
      }
    }

    tfoot {
      td {
        padding: 1em;
        text-align: center;
      }
    }
  }
}