button + button {
  margin-top: 20px;
}

hr {
  margin: 40px 0;
  border-top: 1px dashed #D1D1D1;
}

.button {
  border-radius: 2px;
  border: none;
  color: white;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fab {
  height: 48px;
  width: 48px;
  font-size: 32px; /* assuming logo is circular */
  flex: 0 0 auto;
  color: white;

  /* center the logo within the 48X48 box */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: left; /* when text wraps, this will keep it left aligned */
}

.fa-microsoft {
  font-size: 28px; /* square logo will appear bigger, so we down size it */
}

/* color based on brand */
.normal-signin-button {
  justify-content: center;
  background-color: #4C833A;
}
.normal-signin-button:hover {
  background-color: #39632C;
}

.social-signin-button--facebook {
  background-color: #1877F2;
}
.social-signin-button--facebook:hover {
  background-color: #0B5AC1;
}

.social-signin-button--microsoft {
  background-color: #3C3C41;
}
.social-signin-button--microsoft:hover {
  background-color: black;
}

.social-signin-button--github {
  background-color: #171516;
}
.social-signin-button--github:hover {
  background-color: black;
}

/* for demo only */
.resizable {
  position: relative;
  width: 300px;
  resize: both;
  overflow: auto;
  border: 4px solid black;
  padding: 1rem;
  padding-bottom: 4rem;
}