.logo-lang-container {
    /* position: relative;
    bottom: 30px; */
}

.docsie-lang-picker-container {
    color: #181818;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.globalFooterNav {
    color: #8898aa;
    /* line-height: 30px; */
    /* font-size: 15px; */
    white-space: nowrap;
}

.globalFooter.withCards>* {
    pointer-events: auto;
    position: relative;
}

.globalFooterNav .container-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.globalFooterNav .metaNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
}

/* @media (min-width: 880px) */
.globalFooterNav .metaNav {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0 20px;
}

.globalFooterNav li {
    list-style: none;
}

.globalFooterNav .globalPopupActive {
    z-index: 99999999!important;
}

.globalFooterNav .metaNav>li {
    margin-right: 20px;
}

.globalFooterNav .metaNav .select {
    position: relative;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    width: fit-content;
}

.globalFooterNav .metaNav .select.globalPopupActive .rootLink {
    color: #181818;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.rootLink .active-lp {
    color: #181818;
    font-family: 'Open Sans', sans-serif;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.globalFooterNav .metaNav .rootLink svg {
    display: inline-block;
    vertical-align: -1px;
    margin: 0 7px 0 -2px;
}

.globalFooterNav .metaNav .rootLink svg path {
    fill: currentColor;
}

.globalFooterNav .popup {
    position: absolute;
    bottom: 40px;
    left: -5px;
    z-index: 1000;
    font-size: 15px;
    line-height: 26px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    pointer-events: none;
    -webkit-transform: rotate3d(1,1,0,15deg);
    transform: rotate3d(1,1,0,15deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
    will-change: transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.globalFooterNav .languagePicker {
    padding: 20px 12px;
}

.globalFooterNav .globalPopupActive .popup {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    display: none;
    pointer-events: auto;
}

.globalFooterNav .popup:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 30px;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 20px 0 3px 0;
    background: #fff;
}

ul {
    list-style: none;
}

.globalFooterNav ul {
    padding: 0;
    margin: 0;
}

.globalFooterNav .optionList {
    color: #525f7f;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.globalFooterNav li {
    list-style: none;
}

.globalFooterNav .optionList li {
    width: 100%;
    white-space: normal;
}

.globalFooterNav .optionList li {
    white-space: inherit;
}

.globalFooterNav a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color .1s;
    transition: color .1s;
}

.globalFooterNav .optionList a {
    position: relative;
    border-radius: 4px;
    display: block;
    padding: 15px;
    line-height: 21px;
    -webkit-transition: color .1s,background-color .1s;
    transition: color .1s,background-color .1s;
    text-decoration: none;
}

.globalFooterNav .optionList a>span {
    margin-right: 4px;
    white-space: nowrap;
}

.globalFooterNav .optionList .selected {
    font-weight: 600;
    color: #32325d;
}

.globalFooterNav .optionList .selected svg {
    display: inline;
    position: relative;
    top: 5px;
}

.globalFooterNav .optionList a:hover {
    background-color: #f6f9fc;
    color: #32325d;
}

/* .globalFooterNav .optionList .selected>span:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    margin: 0 6px 0 -2px;
    background: url(/img/v3/common/footer/select/checkmark.svg);
    background-size: contain;
    background-repeat: no-repeat;
} */

.optionList a svg {
    display: none;
}

@media screen and (max-width: 768px) {
    footer.gn .ft-nav {
        flex-direction: column;
    }
    .logo-lang-container {
        /* position: relative;
        bottom: 0px; */
    }
}

@media (min-width: 670px) {
    .globalFooterNav .optionList a {
        padding: 8px 15px 7px;
    }

    /* .globalFooterNav .languagePicker {
        padding: 10px 5px;
    } */
}

/* lang redirect banner related */
.cookie-policy .lb-cookie-policy-alert {
    bottom: 14%;
}