.category-feature {
  border: 1px solid #e5e5e5;
  background-color: white;
}

.pricing-name {
  font-weight: 700!important;
}

.detailed-plan-view {
  background-color: white;
  margin-top: 20px;
}

.price-card {
  display: flex;
  width: 100%;
}

.pricing-panel {
  background-color: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 3px solid #fff;
  border-top-width: 0;
}

.pricing-panel .pricing-panel-header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  padding: 20px;
}

.pricing-panel .pricing-panel-tier {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 10px;
  letter-spacing: .2em;
}

.product-price.product-price-lg {
  font-size: 80px;
  height: 7rem;
}

.product-price.product-price-lg .currency {
  bottom: 1.7em;
  font-size: 1.6rem;
}

.product-price .currency, .product-price .period {
  position: relative;
  font-weight: 400;
}

.product-price.product-price-lg .period {
  bottom: .4em;
  color: inherit;
  font-size: 1.2rem;
}

.simple-plan-tier {
  /* background-color: #de7272bf; */
}

.pricing-panel .pricing-panel-info {
  padding: 10px 0 0;
  color: #778283;
}

.sign-up-btn {
  background-color: #b50000bf !important;
}

.action-link {
  color: white !important;
}

a.action-link:hover {
  color: white !important;
}

a.compare-plans:hover {
  color: #b50000bf !important;
}

a.yearly:hover {
  color: #b50000bf !important;
}

.btn-secondary {
  color: #fff;
  /* background-color: #6c757d; */
  border-color: #ffffff !important;
}

body {
  background-color: #de7272bf !important;
}

.simple-plan-tier-col {
  margin-top: 20px;
  text-align: center;
}

.year-pricing {
  font-size: 14px;
}

.compare-plans {
  color: #0077b3;
  cursor: pointer;
}

p.compare-plans:hover {
  text-decoration-line: underline;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  font-weight: 400;
}

.product-price.product-price-md {
  font-size: 2.5rem;
  height: 2.5rem;
}

.product-price.product-price-md .currency {
  bottom: .4em;
  font-size: 1.6rem;
}

.product-price.product-price-md .period {
  color: inherit;
  top: auto;
  bottom: .1em;
  font-size: .5em;
}

.category-type-1 {
  margin-top: 1.5rem!important;
}