{% extends "_base.html" %}
{% block title %}Pricing{% endblock title %}
{% block styles %}
<link rel="stylesheet" href='/pricing.css'>
<link rel="stylesheet" href='/docsie.css'>
{% endblock styles %}
{% block content %}
<!--<script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 7439277,playbookUuid: 'de0ebea2-8e31-4549-a66c-98b6ed822be0',version: 2};</script><script src="https://leadbooster-chat.pipedrive.com/assets/loader.js" async></script>-->

<main id="main">
  <div class="pure-docsie ready gn" style="max-width: 100%;">
    <article class="docsie-doc">
      <div class="docsie-content">
        <header class="docsie-header docsie-grid" id="section-page-header">
          <div class="docsie-section-container" role="presentation">
            <h1 class="docsie-title">{% trans %}Write better documentation.<br/>Retain customers.{% endtrans %}</h1>
            <p class="docsie-subtitle">{% trans %}Simplify the way your team writes and maintains product documentation.{% endtrans %}</p>
          </div>

        </header>
        <section class="docsie-section docsie-grid grid-3 docsie-pricing-table">
          <div class="docsie-section-container" role="presentation">
            <div class="docsie-grid-cell docsie-price-tier">
              <div class="docsie-card">
                <div>
                  <h3>{% trans %}Small Team{% endtrans %}</h3>
                  <p class="meta">
                    {% trans %}Up to 5 users{% endtrans %}
                </p>
                </div>
                <div class="tier-description">
                  <p class="hide-sm">
                    <a class="ui-bt ui-prime" href="https://www.docsie.io/discovery_call/">
                     {% trans %} Book a Discovery{% endtrans %}
                    </a>
                  </p>
                  <ul class="tier-description">
                    <li>{% trans %}up to 15 Books{% endtrans %}</li>
                    <li>{% trans %}Up to 5 Versions per book{% endtrans %}</li>
                    <li>{% trans %}Up to 5 languages per book{% endtrans %}</li>
                    <li>{% trans %}Publish docs on your own domain{% endtrans %}</li>
                    <li>{% trans %}Google/Custom Analytics{% endtrans %}</li>
                    <li>{% trans %}Use Custom CSS{% endtrans %}</li>
                    <li>{% trans %}Create and use custom Docsie Plugins{% endtrans %}</li>
                    <li>{% trans %}Team chat{% endtrans %}</li>
                    <li>{% trans %}Publish on Docsie{% endtrans %}</li>
                    <li>{% trans %}Gather documentation feedback{% endtrans %}</li>
                  </ul>
                </div>
                <!--<p class="tier-footer hide-sm">-->
                  <!--<a href="#docsiePricing">Learn More <svg class="inl" width="22" height="22" viewBox="0 0 20 20">-->
                      <!--<use xlink:href="#icon-arrow-right"></use></svg></a>-->
                <!--</p>-->
                <p class="show-sm">
                  <a class="ui-bt ui-prime" href="https://www.docsie.io/discovery_call/">
                    {% trans %}Book a Demo{% endtrans %}
                  </a>
                </p>
              </div>
            </div>

            <div class="docsie-grid-cell docsie-price-tier">
              <div class="docsie-card">
                <div>
                  <h3>{% trans %}Business{% endtrans %}</h3>
                  <p class="meta">
                    {% trans %}Up to 30 users{% endtrans %}
                  </p>
                </div>
                <div class="tier-description">
                  <p class="hide-sm">
                    <a class="ui-bt ui-prime" href="https://www.docsie.io/discovery_call/">
                      {% trans %}Book a demo{% endtrans %}
                    </a>
                  </p>
                  <ul class="tier-description">
                    <li><strong>{% trans %}All the benefits of Small Team, and:{% endtrans %}</strong></li>
                    <li>{% trans %}Unlimited Books, Shelves, Versions, Languages{% endtrans %}</li>
                    <li>{% trans %}Your own private docsie space, with built-in permissions{% endtrans %}</li>
                    <li>{% trans %}Publish entire searchable docsie shelf{% endtrans %}</li>
                    <li>{% trans %}API Swagger docs support{% endtrans %}</li>
                    <li>{% trans %}Automated Translations{% endtrans %}</li>
                    <li>{% trans %}Password protect book/Password protect shelves{% endtrans %}</li>
                    <li>{% trans %}Gather Visual Documentation/Product Feedback{% endtrans %}</li>
                    <li>{% trans %}Use Custom Javascript{% endtrans %}</li>
                    <li>{% trans %}Complimentary CSS to match your Brand look and feel{% endtrans %}</li>
                    <li>{% trans %}Complimentary documentation import (up 8 product docs, 10k words each){% endtrans %}</li>
                  </ul>
                </div>
                <!--<p class="tier-footer hide-sm">-->
                  <!--<a href="#docsiePricing">Learn More <svg class="inl" width="22" height="22" viewBox="0 0 20 20">-->
                      <!--<use xlink:href="#icon-arrow-right"></use></svg></a>-->
                <!--</p>-->
                <p class="show-sm">
                  <a class="ui-bt ui-prime" href="https://www.docsie.io/discovery_call/">
                    {% trans %}Book a demo{% endtrans %}
                  </a>
                </p>
              </div>
            </div>

            <div class="docsie-grid-cell docsie-price-tier">
              <div class="docsie-card">
              <div>
                <h3>{% trans %}Entreprise{% endtrans %}</h3>
                <p class="meta tier-description">
                  {% trans %}Unlimited Users{% endtrans %}
                </p>
              </div>
              <div class="tier-description">
                <p class="hide-sm">
                  <a class="ui-bt ui-prime" href="https://www.docsie.io/discovery_call/">
                    {% trans %}Contact sales{% endtrans %}
                  </a>
                </p>
                <ul class="tier-description">
                  <li><strong>{% trans %}All the benefits of Business, and:{% endtrans %}</strong></li>
                  <li>{% trans %}Your own implementation of Docsie Hub{% endtrans %}</li>
                  <li>{% trans %}Dedicated Docsie Instance{% endtrans %}</li>
                  <li>{% trans %}On-premise deployment*<{% endtrans %}/li>
                  <li>{% trans %}Product Customization{% endtrans %}</li>
                  <li>{% trans %}Up to 10 Custom Plugins{% endtrans %}</li>
                  <li>{% trans %}Complimentary Implementation Consulting and Training{% endtrans %}</li>
                  <li>{% trans %}Complimentary Import of your documentation into Docsie{% endtrans %}</li>
                </ul>
              </div>
                <!--<p class="tier-footer hide-sm">-->
                  <!--<a href="#docsiePricing">Learn More <svg class="inl" width="22" height="22" viewBox="0 0 20 20">-->
                      <!--<use xlink:href="#icon-arrow-right"></use></svg></a>-->
                <!--</p>-->
                <p class="show-sm">
                  <a class="ui-bt ui-prime" href="https://calendly.com/docsie-io/discovery-call">
                    {% trans %}Contact sales{% endtrans %}
                  </a>
                </p>
              </div>
            </div>

          </div>
        </section>

        <section class="docsie-section docsie-grid docsie-pricing hide-sm">
          <div class="docsie-section-container" role="presentation">
          <table id="docsiePricing">
            <thead>
              <tr>
                <th></th>
                  <th></th>
                <th>{% trans %}Small Team{% endtrans %}</th>
                  <th></th>
                <th>{% trans %}Business{% endtrans %}</th>
                  <th></th>
                <th>{% trans %}Entreprise{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="title">
                <th>{% trans %}Docsie Manager{% endtrans %}/th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td>
              </tr>
              <tr>
                <th>{% trans %}Team Size{% endtrans %}</th><td></td>
                <td>{% trans %}5{% endtrans %}</td><td></td>
                <td>{% trans %}30{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Shelves{% endtrans %}</th><td></td>
                <td>{% trans %}3{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Books{% endtrans %}</th><td></td>
                <td>{% trans %}15{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Organize Shelves{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>

              <tr class="title">
                <th>{% trans %}Docsie Editor{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td>
              </tr>

              <tr>
                <th>{% trans %}Versions{% endtrans %}</th><td></td>
                <td>{% trans %}5{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Languages{% endtrans %}</th><td></td>
                <td>{% trans %}5{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td><td></td>
                <td>{% trans%}Unlimited{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Automated Translation{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Team Chat{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Export to Markdown/HTML/Docsie{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
               <tr>
                <th>{% trans %}Import Markdown/Docsie{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
               <tr>
                <th>{% trans %}Images hosted on Docsie CDN{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Unsplash Integration{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
            <tr class="title">
                <th>{% trans %}Docsie Publisher{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td>
            </tr>
               <tr>
                <th>{% trans %}Publish docs on docsie{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Embed docs on your website{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Embed docs on your intranet{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Embed docs into your webapp{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
               <tr>
                <th>{% trans %}Custom CSS{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>{% trans %}Complimentary CSS{% endtrans %}</td><td></td>
                <td>{% trans %}Complimentary CSS{% endtrans %}</td>
              </tr>
               <tr>
                <th>{% trans %}Custom Javascript{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
               <tr>
                <th>{% trans %}Docsie Plugins{% endtrans %}</th><td></td>
                <td>{% trans %}Custom{% endtrans %}</td><td></td>
                <td>{% trans %}Custom{% endtrans %}</td><td></td>
                <td>{% trans %}3 complimentary custom plugins{% endtrans %}</td>
              </tr>
               <tr>
                <th>{% trans %}Password Protected Documentation{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔</td><td></td>
                <td>✔</td>
              </tr>
              <tr>
                <th>{% trans %}Dynamic Embeddable Documentation{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr class="title">
                <th>{% trans %}Docsie Vocally{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td>
            </tr>
              <tr>
                <th>{% trans %}Maximum feedbacks submitted per month{% endtrans %}</th><td></td>
                <td>{% trans %}500{% endtrans %}</td><td></td>
                <td>{% trans %}5000{% endtrans %}</td><td></td>
                <td>{% trans %}Unlimited{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Gather feedback on non Docsie pages{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Zapier Integration{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Zendesk Integration{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Email Integration{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Slack Integration{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Mattermost Integration{% endtrans %}</th><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr class="title">
                <th>{% trans %}Other Benefits{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td>
              </tr>
              <tr>
                <th>{% trans %}Standard invoicing for your accounting department{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
              <tr>
                <th>{% trans %}Guranteed Uptime{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td>{% trans %}99.99%{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Own Docsie instance{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td>{% trans %}On Demand{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Support{% endtrans %}</th><td></td>
                <td>{% trans%}Email{% endtrans %}</td><td></td>
                <td>{% trans %}Email/Phone{% endtrans %}</td><td></td>
                <td>{% trans %}Custom Support Agreement{% endtrans %}</td>
              </tr>
              <tr>
                <th>{% trans %}Custom retention policies for data and files{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>
                <tr>
                <th>{% trans %}Corporate exports for all data{% endtrans %}</th><td></td>
                <td></td><td></td>
                <td>{% trans %}On Demand{% endtrans %}</td><td></td>
                <td>✔️</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td><td></td>
                <td><a href="https://www.docsie.io/discovery_call/">{% trans %}Book a discovery{% endtrans %}</a></td><td></td>
                <td><a href="https://www.docsie.io/discovery_call/">{% trans %}Book a demo{% endtrans %}</a></td><td></td>
                <td><a href="https://www.docsie.io/discovery_call/">{% trans %}Contact sales{% endtrans %}</a></td>
              </tr>
            </tfoot>
          </table>
          </div>
        </section>
      </div>
    </article>
  </div>
  <br><br><br><br>
  <div role="presentation" data-ddsroot></div>
</main>
{% endblock content %}
{% block scripts %}
<script async type="text/javascript" src="https://lib.docsie.io/1.4.10/service.js"
  data-docsie="live_pk_6Y24rR0t7GWA6yo6cdSwZ8q3:boo_CQIeD5drM0TCIxdfB,navigation:false,footer:false,sectionAnchor:false,viewportWidth:100%"></script>
{% endblock scripts %}
