.docsie-table-price {
  width: 100%;
  border-collapse: collapse;
  min-width: 1100px;
}

.docsie-table-price .trigger-expanded {
  width: 5%;
}

.docsie-table-price .first-column {
  text-align: left;
  width: 55%;
  color: #647B89;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.docsie-table-price .other-columns {
  width: 10%;
  padding: 0 8px;
  color: #39464E;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.docsie-table-price tbody tr td:not(:nth-child(2)) {
  text-align: center;
}

.docsie-table-price tbody tr {
  height: 48px;
  transition: all 0.3s ease;
  color: #39464E;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.docsie-table-price tbody tr:hover {
  background: linear-gradient(180deg, rgba(154, 204, 255, 0.70) -89.94%, rgba(255, 255, 255, 0.00) 165.07%);
  overflow: hidden;
}

.docsie-table-price tbody tr:hover td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.docsie-table-price tbody tr:hover td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.docsie-table-price .trigger {
  cursor: pointer;
  border-top: 1px solid #63617833;
}

.docsie-table-price .trigger tr {
  color: #39464E;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.docsie-table-price .hidden {
  display: none;
}

.docsie-table-price .icon-rotation img {
  transition: all 0.3s ease;
  transform: rotate(0deg);
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1200px) {
  .docsie-table-price tbody tr {
    font-size: 12px;
  }

  .docsie-table-price .trigger tr {
    font-size: 16px;
  }
}