.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal.show {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  display: none;
  width: 80%;
}

.show .modal-content {
  -webkit-animation: modalopen 200ms ease-in;
  -moz-animation: modalopen 200ms ease-in;
  animation: modalopen 200ms ease-in;
  display: block;
}


.modal-content iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.docsie-banner-close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 200ms ease-in;
}

.docsie-banner-close-modal:hover,
.docsie-banner-close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}