.docsie-home-button-base {
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.docsie-home-button-primary {
  background: #13AF4B;
  color: #FFF;
  box-shadow: 0px 10px 25px 0px rgba(10, 99, 42, 0.25);
  transition: all 0.3s ease-in-out;
}

.docsie-home-button-primary:hover {
  box-shadow: 0px 10px 25px 0px rgba(10, 99, 42, 0.5);
}

.docsie-home-button-ghost {
  color: #13AF4B;
  background: transparent;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.docsie-home-button-ghost:hover {
  border: 1px solid #13AF4B;
  box-shadow: 0px 10px 25px 0px rgba(10, 99, 42, 0.1);
}

.docsie-home-icon {
  width: 32px;
  height: 32px;
}

.docsie-banner-wrapper {
  width: 100%;
  display: flex;
  padding-top: 70px;
  overflow: hidden;
}

.docsie-banner-wrapper .docsie-banner-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
  padding-top: 100px;
  padding-bottom: 250px;
}

.docsie-banner-wrapper .docsie-banner-text-wrapper .docsie-banner-title {
  color: #101212;
  font-family: 'Arimo', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.16px;
}

.docsie-banner-wrapper .docsie-banner-text-wrapper .docsie-banner-title .docsie-banner-title-style {
  color: #C60000;
}

.docsie-banner-wrapper .docsie-banner-text-wrapper .docsie-banner-text {
  color: #4A5B66;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.24px;
}

.docsie-banner-wrapper .docsie-banner-text-wrapper .docsie-banner-buttons-wrapper {
  display: flex;
  gap: 22px;
  padding-top: 16px;
}

.docsie-banner-wrapper .docsie-banner-images-wrapper {
  width: 50%;
  position: relative;
}

.docsie-banner-image-main {
  position: absolute;
  top: 30px;
  left: 60%;
  width: 100%;
  height: 100%;
  max-height: 600px;

  background-image: url("/assets/new_home/features/banner1.png");
  background-repeat: no-repeat;
  background-size: contain;

}

.docsie-banner-image-comment {
  position: absolute;
  top: 40%;
  left: 55%;
  width: 100%;
  height: 100%;
  max-width: 300px;
  background-image: url("/assets/new_home/features/banner2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .docsie-home-button-base {
    font-size: 12px;
  }

  .docsie-banner-wrapper .docsie-banner-text-wrapper {
    width: 100%;
    padding-top: 0;
    padding-bottom: 120px;
    text-align: center;
  }

  .docsie-banner-wrapper .docsie-banner-text-wrapper .docsie-banner-title {
    font-size: 36px;
    letter-spacing: 0.72px;
  }

  .docsie-banner-wrapper .docsie-banner-text-wrapper .docsie-banner-text {
    font-size: 14px;
    letter-spacing: 0.16px
  }

  .docsie-banner-wrapper .docsie-banner-text-wrapper .docsie-banner-buttons-wrapper {
    flex-direction: column;
    gap: 18px;
    padding: 0 10%;
  }

  .docsie-banner-image-comment {
    display: none;
  }

  .docsie-banner-image-main {
    display: none;
  }
}