{% extends "_base.html" %}

{% block content %}
  <div class="content" data-ddsroot>
  </div>
<p data-height="1024" data-theme-id="0" data-slug-hash="BPzjmE" data-default-tab="css,result" data-user="likalo_llc" data-pen-title="BPzjmE" data-preview="true" data-editable="true" class="codepen">See the Pen <a href="https://codepen.io/likalo_llc/pen/BPzjmE/">BPzjmE</a> by Docsie,io (<a href="https://codepen.io/likalo_llc">@likalo_llc</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>


<!-- Page Content --> <section class="docsie-section docsie-section-3" data-index="4">
            <div class="docsie-section-container" role="presentation">
              <h2 class="docsie-section-title " id="section-header-two-cfalg">Let's write better documentation together</h2>
              <p class="docsie-paragraph" id="unstyled-b2r7t"></p>
            </div>
          </section>
        </div>
        <footer class="docsie-footer">
          <nav class="docsie-footer-nav">
          </nav>
        </footer>
      </article>
    </div>
</main>
{% endblock content %}
