.category-feature {
  border: 1px solid #e5e5e5;
  /* background-color: white; */
  background: inherit !important;
  text-align: center; 
  margin: auto;
  height: 40px;
  line-height: 36px;
}

.category-feature-name {
  height: 40px;
  line-height: 7px;
}

.category-feature-head {
  border: 0;
  /* background-color: white; */
  background: inherit !important;
  text-align: center; 
  margin: auto;
}

.category-feature-xs {
  border: none;
  background-color: inherit;
}

.pricing-name {
  font-weight: 700!important;
  text-align: center; 
  margin: auto;
  margin-bottom: 20px;
  font-size: 1.7em;
}

/* .detailed-plan-view {
  background-color: white;
  margin-top: 20px;
} */

.price-card {
  /* display: flex; */
  width: 100%;
}

.pricing-panel {
  background-color: rgba(245, 226, 225, 0.09);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 3px solid #ffb5b3;
  /* border-top-width: 0; */
  max-width: 20em;
}

.pricing-panel .pricing-panel-header {
justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4f100f;
    background-color: #fff;
}

.pricing-panel .pricing-panel-footer {
    border: 1px solid transparent;
    text-align: center;
}

.pricing-panel .pricing-panel-tier {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 10px;
    letter-spacing: .2em;
    text-align: center;
    line-height: 1.3!important;
    font-size: 1rem;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    box-sizing: border-box;
}

.product-price.product-price-lg {
    font-size: 50px;
    height: 5rem;
}

.product-price.product-price-lg .currency {
  /* bottom: 1.7em;
  font-size: 1.6rem; */
    bottom: 0.8em;
    font-size: 1.6rem;

}


.product-price .currency, .product-price .period {
  position: relative;
  font-weight: 400;

}

.product-price.product-price-lg .period {
  /* bottom: .4em;
  color: inherit;
  font-size: 1.2rem; */
  bottom: 0.2em;
  color: inherit;
  font-size: 1.0rem;
}

.pricing-panel .pricing-panel-info {
  padding: 10px 0 0;
  color: #778283;
}

.btn-wrapper {
  text-align: center;
}

.sign-up-btn {
  background-color: #b50000bf !important;
      display: inline-block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    border-radius: .2rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    line-height: 1.25;
}

.sign-up-btn-xs {
  background-color: #b50000bf !important;
  /* position: absolute;
  top: 50%; */
  cursor: pointer;
  margin-bottom: 10px;
  color: white !important;
  font-size: 14px;
}

.sign-up-btn-xs:hover {
  color: white !important;
}
.action-link {
  color: white !important;
  font-size: 16px !important;
}

.action-link-lg {
  color: white !important;
  font-size: 18px !important;
      text-decoration: none;
  font-weight: 700;
  line-height: 22.5px;
  margin-bottom: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.action-link-lg-dtl {
  color: white !important;
  font-size: 14px !important;
  text-decoration: none;
  font-weight: 700;
  line-height: 22.5px;
  margin-bottom: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
}

a.action-link:hover {
  color: white !important;
}

p.compare-plans:hover {
  color: #b50000bf !important;
}

div.yearly:hover {
  color: #b50000bf !important;
  text-decoration-line: underline;
  text-decoration-style: solid;
  cursor: pointer;
}

.btn {
  font-size: 15px !important;
}

.btn-secondary {
  color: #fff;
  /* background-color: #6c757d; */
  border-color: #ffffff !important;
}

body {
  /* background-color: #f5505017 !important; */
  background-color: #ffffff !important;
}

.simple-plan-tier-col {
  margin-top: 20px;
  text-align: center;
}

.year-pricing {
  font-size: 13px;
  color: #b53f3c !important;
}

.compare-plans {
  color: #e9322d;
  cursor: pointer;
}

div.yearly{
  color: #d04747;
  text-decoration-line: underline;
  text-decoration-style: solid;
  cursor: pointer;
}

p {
    margin-bottom: 1rem !important;
}
p.compare-plans:hover {
  text-decoration-line: underline;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  font-weight: 400;
}

.product-price.product-price-md {
  font-size: 2.0 rem;
  height: 2.5rem;
  margin-bottom: 10px;
}

.product-price.product-price-md .currency {
  bottom: .4em;
  font-size: 1.6rem;
}

.product-price.product-price-md .period {
  color: inherit;
  top: auto;
  bottom: .1em;
  font-size: .5em;
}

.category-type-1 {
  position: relative;
  left: 10%;
  margin-top: 1.5rem!important;
}

.category-type-main {
  text-align: center;
  margin-top: 3.5rem!important;
}

/* start of mobile css */
.price-page-mobile {
  background: none;
  margin-top: 10px;
}

.accordion {
  border: none !important;
  border-radius: 2px;
}

.plan-name {
  letter-spacing: .2em;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; 
}

.product-price.product-price-sm {
  font-size: 19px !important;
}

.product-price.product-price-sm .currency {
  bottom: .1em;
}

.product-price.product-price-sm {
  font-size: 30px;
  display: inline-block;
  float: right;
  position: relative;
  bottom: 0px;
  top: 2px;
}

.product-price.product-price-sm .period {
  top: auto;
  bottom: 0.1em;
  /* font-size: .5em; */
  font-size: 12px !important;
}

.text-yearly-color {
  color: black !important;
}

.plan-desc-feature {
  textAlign: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accrd-btn {
  margin-bottom: 10px;
  position: relative;
  left: 14px;
}

.detail-plan-container {
  /* background: white; */
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-plan-container {
  height: 95vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* accordion changes */
.accordion__button {
  background-color: #f5505017 !important;
}

.accordion__item + .accordion__item {
  border-top: none !important;
}

.accordion__button {
  background-color: #f5505017 !important;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 88% !important;
  text-align: left;
  border: none;
  margin: auto !important;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  width: 88% !important;
  margin: auto !important;
}

.accordion__item {
  box-sizing: content-box !important;
}

.view-simple-tier:hover {
  text-decoration-line: underline;
}

.view-simple-tier-btn {
  display: block !important;
  margin: auto !important;
}

.accrd-view {
  position: relative;
  margin-top: 10%;
  font-size: 16px !important;
}

@media (min-width: 544px) {
  .col-sm-2 {
      float: left;
      width: 19.666667% !important;
  }
}

.tooltip-info {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip-info .tooltiptext-info {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  left: 50%;
  margin-left: -51px;
}

.tooltip-info .tooltiptext-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-info:hover .tooltiptext-info {
  visibility: visible;
}

.tooltip-info-dsk {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip-info-dsk .tooltiptext-info-dsk {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  left: 50%;
  margin-left: -50px;
}

.tooltip-info-dsk .tooltiptext-info-dsk::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-info-dsk:hover .tooltiptext-info-dsk {
  visibility: visible;
}


.accordion__button:before {
  display: inline-block;
  content: '';
  height: 13px !important;
  width: 13px !important;
  margin-right: 20px !important;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
  margin-bottom: 3px !important;
}

/* pure css responsive */

.pure-g {
	text-rendering: optimizespeed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
    margin-right: -20px;
    margin-left: -20px;
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
	table .pure-g {
		display: block
	}
}

.opera-only :-o-prefocus,
.pure-g {
	word-spacing: -.43em
}

.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-2-2 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-2 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-2-2 {
    width: 100%;
}

.pure-u,
.pure-u-1,
.pure-u-1-1,
.pure-u-1-12,
.pure-u-1-2,
.pure-u-1-24,
.pure-u-1-3,
.pure-u-1-4,
.pure-u-1-5,
.pure-u-1-6,
.pure-u-1-8,
.pure-u-10-24,
.pure-u-11-12,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-2-24,
.pure-u-2-3,
.pure-u-2-5,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24,
.pure-u-3-24,
.pure-u-3-4,
.pure-u-3-5,
.pure-u-3-8,
.pure-u-4-24,
.pure-u-4-5,
.pure-u-5-12,
.pure-u-5-24,
.pure-u-5-5,
.pure-u-5-6,
.pure-u-5-8,
.pure-u-6-24,
.pure-u-7-12,
.pure-u-7-24,
.pure-u-7-8,
.pure-u-8-24,
.pure-u-9-24 {
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
	display: inline-block;
	zoom: 1;
}

.pure-g [class*=pure-u] {

    text-rendering: optimizespeed;
    font-family: "Open Sans", Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    color: #533333;
    margin: 0;
    padding: 0;
        padding-right: 10px;
    padding-left: 10px;
}

.pure-u-1-24 {
	width: 4.1667%
}

.pure-u-1-12,
.pure-u-2-24 {
	width: 8.3333%
}

.pure-u-1-8,
.pure-u-3-24 {
	width: 12.5%
}

.pure-u-1-6,
.pure-u-4-24 {
	width: 16.6667%
}

.pure-u-1-5 {
	width: 20%
}

.pure-u-5-24 {
	width: 20.8333%
}

.pure-u-1-4,
.pure-u-6-24 {
	width: 25%
}

.pure-u-7-24 {
	width: 29.1667%
}

.pure-u-1-3,
.pure-u-8-24 {
	width: 33.3333%
}

.pure-u-3-8,
.pure-u-9-24 {
	width: 37.5%
}

.pure-u-2-5 {
	width: 40%
}

.pure-u-10-24,
.pure-u-5-12 {
	width: 41.6667%
}

.pure-u-11-24 {
	width: 45.8333%
}

.pure-u-1-2,
.pure-u-12-24 {
	width: 50%
}

.pure-u-13-24 {
	width: 54.1667%
}

.pure-u-14-24,
.pure-u-7-12 {
	width: 58.3333%
}

.pure-u-3-5 {
	width: 60%
}

.pure-u-15-24,
.pure-u-5-8 {
	width: 62.5%
}

.pure-u-16-24,
.pure-u-2-3 {
	width: 66.6667%
}

.pure-u-17-24 {
	width: 70.8333%
}

.pure-u-18-24,
.pure-u-3-4 {
	width: 75%
}

.pure-u-19-24 {
	width: 79.1667%
}

.pure-u-4-5 {
	width: 100%
}

.pure-u-20-24,
.pure-u-5-6 {
	width: 83.3333%
}

.pure-u-21-24,
.pure-u-7-8 {
	width: 87.5%
}

.pure-u-11-12,
.pure-u-22-24 {
	width: 91.6667%
}

.pure-u-23-24 {
	width: 95.8333%
}

.pure-u-1,
.pure-u-1-1,
.pure-u-24-24,
.pure-u-5-5 {
	width: 100%
}

.center-grid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  padding: 20px;
  /* background: red; */
  /* color: white; */
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

}

.custom-info-icon {
  border: 1px solid;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  position: relative;
  top: 7px;
}

.custom-info-icon-xs {
  border: 1px solid;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  position: relative;
  top: 15px;
}

.tooltiptext-info-dsk {
  display: none !important;
}

.card {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}

.category-name {
  display: inline-block;
  text-align: left;
  position: relative;
  left: 8px;
  top: 12px;
}

/* for desktop viewport layout */
@media (min-width: 960px) {
  
  .demo {
    display: none !important;
  }

  /* hide mobile viewport layout */
  .accrd-view {
    display: none !important;
  }

  /* show desktop viewport layout */
  .simple-plan-container {
    display: block;
  }
}

/* for smaller viewport layput */
@media (max-width: 959px) {
  
  /* show smaller viewport layout */
  .demo {
    display: block !important;
  }

  .accrd-view {
    display: block !important;
  }

  /* hide desktop viewport layout */
  .simple-plan-container {
    display: none !important;
  }

  .detail-plan-container {
    display: none !important;
  }
}

/* for medium sized tablets */
/* @media (min-width: 768px)and (max-width: 991px) {

  .action-link-lg {
    color: white !important;
    font-size: 13px !important;
  }

  .pricing-panel .pricing-panel-footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0;
    right: 0 !important;
  }

  .pricing-panel-tier {
    font-size: 13px;
  }
} */

.tooltip {
  position: relative;
  bottom: 1px;
}

.tooltip-trigger {
  display: inline-block;
  text-decoration: underline;
}

.tooltip-bubble {
  min-width: 120px;
  max-width: 210px;
  position: absolute;
  z-index: 10;
}

.tooltip-bubble::after {
  content: '';
  position: absolute;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  padding-bottom: 9px;
  transform: translateX(-50%);
}

.tooltip-top::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid rgba(0,0,0,.7);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  padding-top: 9px;
  transform: translateX(-50%);
}

.tooltip-bottom::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid rgba(0,0,0,.7);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left {
  top: 50%;
  right: 100%;
  padding-right: 9px;
  transform: translateY(-50%);
}

.tooltip-left::after {
  border-left: 9px solid rgba(0,0,0,.7);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.tooltip-right {
  top: 50%;
  left: 100%;
  padding-left: 9px;
  transform: translateY(-50%);
}

.tooltip-right::after {
  border-right: 9px solid rgba(0,0,0,.7);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.tooltip-message {
  background: rgba(0,0,0,.7);
  border-radius: 3px;
  color: #fff;
  font-size: .75rem;
  line-height: 1.4;
  padding: .75em;
  text-align: center;
}