.category-feature {
  border: 1px solid #e5e5e5;
  /* background-color: white; */
  background: inherit !important;
  text-align: center; 
  margin: auto;
}

.category-feature-xs {
  border: none;
  background-color: inherit;
}

.pricing-name {
  font-weight: 700!important;
  text-align: center; 
  margin: auto;
  margin-bottom: 20px;
}

/* .detailed-plan-view {
  background-color: white;
  margin-top: 20px;
} */

.price-card {
  /* display: flex; */
  width: 100%;
}

.pricing-panel {
  background-color: #f5505017;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 3px solid #fff;
  border-top-width: 0;
}

.pricing-panel .pricing-panel-header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  padding: 20px;
  text-align: center;
}

.pricing-panel .pricing-panel-footer {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 25%;
  right: 25% !important;
}

.pricing-panel .pricing-panel-tier {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 10px;
  letter-spacing: .2em;
  text-align: center;
}

.product-price.product-price-lg {
  font-size: 35px;
  height: 4rem;
}

.product-price.product-price-lg .currency {
  /* bottom: 1.7em;
  font-size: 1.6rem; */
  bottom: 0.7em;
  font-size: 1.6rem;
}

.product-price .currency, .product-price .period {
  position: relative;
  font-weight: 400;
}

.product-price.product-price-lg .period {
  /* bottom: .4em;
  color: inherit;
  font-size: 1.2rem; */
  bottom: 0.2em;
  color: inherit;
  font-size: 1.0rem;
}

.pricing-panel .pricing-panel-info {
  padding: 10px 0 0;
  color: #778283;
}

.btn-wrapper {
  text-align: center;
}

.sign-up-btn {
  background-color: #b50000bf !important;
}

.sign-up-btn-xs {
  background-color: #b50000bf !important;
  /* position: absolute;
  top: 50%; */
  cursor: pointer;
  margin-bottom: 10px;
  color: white !important;
  font-size: 14px;
}

.sign-up-btn-xs:hover {
  color: white !important;
}
.action-link {
  color: white !important;
  font-size: 16px !important;
}

.action-link-lg {
  color: white !important;
  font-size: 15px !important;
}

a.action-link:hover {
  color: white !important;
}

p.compare-plans:hover {
  color: #b50000bf !important;
}

a.yearly:hover {
  color: #b50000bf !important;
}

.btn {
  font-size: 15px !important;
}

.btn-secondary {
  color: #fff;
  /* background-color: #6c757d; */
  border-color: #ffffff !important;
}

body {
  /* background-color: #f5505017 !important; */
  background-color: #ffffff !important;
}

.simple-plan-tier-col {
  margin-top: 20px;
  text-align: center;
}

.year-pricing {
  font-size: 13px;
}

.compare-plans {
  color: #0077b3;
  cursor: pointer;
}

p.compare-plans:hover {
  text-decoration-line: underline;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  font-weight: 400;
}

.product-price.product-price-md {
  font-size: 2.5rem;
  height: 2.5rem;
  margin-bottom: 10px;
}

.product-price.product-price-md .currency {
  bottom: .4em;
  font-size: 1.6rem;
}

.product-price.product-price-md .period {
  color: inherit;
  top: auto;
  bottom: .1em;
  font-size: .5em;
}

.category-type-1 {
  position: relative;
  left: 10%;
  margin-top: 1.5rem!important;
}

.category-type-main {
  text-align: center;
  margin-top: 3.5rem!important;
}

/* start of mobile css */
.price-page-mobile {
  background: none;
  margin-top: 10px;
}

.accordion {
  border: none !important;
  border-radius: 2px;
}

.plan-name {
  letter-spacing: .2em;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; 
}

.product-price.product-price-sm {
  font-size: 19px !important;
}

.product-price.product-price-sm .currency {
  bottom: .1em;
}

.product-price.product-price-sm {
  font-size: 30px;
  display: inline-block;
  float: right;
  position: relative;
  bottom: 0px;
  top: 2px;
}

.product-price.product-price-sm .period {
  top: auto;
  bottom: 0.1em;
  /* font-size: .5em; */
  font-size: 12px !important;
}

.text-yearly-color {
  color: black !important;
}

.plan-desc-feature {
  textAlign: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accrd-btn {
  margin-bottom: 10px;
  position: relative;
  left: 14px;
}

.detail-plan-container {
  /* background: white; */
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-plan-container {
  height: 95vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* accordion changes */
.accordion__button {
  background-color: #f5505017 !important;
}

.accordion__item + .accordion__item {
  border-top: none !important;
}

.accordion__button {
  background-color: #f5505017 !important;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 88% !important;
  text-align: left;
  border: none;
  margin: auto !important;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  width: 88% !important;
  margin: auto !important;
}

.accordion__item {
  box-sizing: content-box !important;
}

.view-simple-tier:hover {
  text-decoration-line: underline;
}

.view-simple-tier-btn {
  display: block !important;
  margin: auto !important;
}

.accrd-view {
  position: relative;
  margin-top: 10%;
  font-size: 16px !important;
}

@media (min-width: 544px) {
  .col-sm-2 {
      float: left;
      width: 19.666667% !important;
  }
}

.tooltip-info {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip-info .tooltiptext-info {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  left: 50%;
  margin-left: -51px;
}

.tooltip-info .tooltiptext-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-info:hover .tooltiptext-info {
  visibility: visible;
}

.tooltip-info-dsk {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip-info-dsk .tooltiptext-info-dsk {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  left: 50%;
  margin-left: -50px;
}

.tooltip-info-dsk .tooltiptext-info-dsk::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-info-dsk:hover .tooltiptext-info-dsk {
  visibility: visible;
}


.accordion__button:before {
  display: inline-block;
  content: '';
  height: 13px !important;
  width: 13px !important;
  margin-right: 20px !important;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
  margin-bottom: 3px !important;
}

/* for desktop viewport layout */
@media (min-width: 768px) {
  
  .demo {
    display: none !important;
  }

  /* hide mobile viewport layout */
  .accrd-view {
    display: none !important;
  }

  /* show desktop viewport layout */
  .simple-plan-container {
    display: block;
  }
}

/* for smaller viewport layput */
@media (max-width: 767px) {
  
  /* show smaller viewport layout */
  .demo {
    display: block !important;
  }

  .accrd-view {
    display: block !important;
  }

  /* hide desktop viewport layout */
  .simple-plan-container {
    display: none !important;
  }

  .detail-plan-container {
    display: none !important;
  }
}

/* for medium sized tablets */
@media (min-width: 768px)and (max-width: 991px) {

  .action-link-lg {
    color: white !important;
    font-size: 13px !important;
  }

  .pricing-panel .pricing-panel-footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0;
    right: 0 !important;
  }

  .pricing-panel-tier {
    font-size: 13px;
  }
}