.table-container {
  overflow-x: auto;
  margin: 2rem 0;
  padding: 1rem;
}

.docsie-table-price {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 1100px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.docsie-table-price thead {
  background-color: #f8f9fa;
}

.docsie-table-price th {
  padding: 1.5rem 1rem;
  border-bottom: 2px solid #e9ecef;
}

.docsie-table-price .trigger-expanded {
  width: 5%;
  padding-left: 1rem;
}

.docsie-table-price .first-column {
  text-align: left;
  width: 55%;
  color: #647B89;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 1.5rem;
}

.docsie-table-price .other-columns {
  width: 10%;
  padding: 0.5rem 1rem;
  color: #39464E;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.docsie-table-price tbody tr td {
  padding: 1.25rem 1rem;
  border-bottom: 1px solid #e9ecef;
}

.docsie-table-price tbody tr td:first-child {
  padding-left: 1.5rem;
}

.docsie-table-price tbody tr td:not(:nth-child(2)) {
  text-align: center;
}

.docsie-table-price tbody tr {
  transition: all 0.3s ease;
  color: #39464E;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.docsie-table-price tbody tr:hover {
  background: linear-gradient(180deg, rgba(154, 204, 255, 0.70) -89.94%, rgba(255, 255, 255, 0.00) 165.07%);
}

.docsie-table-price .trigger {
  cursor: pointer;
}

.docsie-table-price .trigger tr {
  color: #39464E;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.docsie-table-price .hidden {
  display: none;
}

.docsie-table-price .icon-rotation img {
  transition: all 0.3s ease;
  transform: rotate(0deg);
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .docsie-table-price tbody tr {
    font-size: 14px;
  }

  .docsie-table-price .trigger tr {
    font-size: 18px;
  }

  .docsie-table-price th,
  .docsie-table-price td {
    padding: 1rem 0.75rem;
  }

  .docsie-table-price .first-column,
  .docsie-table-price tbody tr td:first-child {
    padding-left: 1rem;
  }
}