.highlight-text {
  background-color: #f9ed32;
}

.section-header {
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}


/* section 1 css */

.company {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 10%;
  position: relative;
}

.company .company-frame-1 {
  margin-top: 130px;
}

.company .frame-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
}

.company .display-instagram {
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 52px;
  letter-spacing: 0;
  line-height: 60px;
  text-align: right;
}

.company .text-wrapper {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: left;
}

.company .frame-2 {
  align-items: center;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.company .form-control {
  width: 250px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px 0px 0px 5px;
  overflow: hidden;
  border: 3px solid;
  border-color: #000000;
}

.company .text-wrapper-2 {
  width: 100%;
  height: 100%;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #9ca0ac;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.company .text-wrapper-2:focus-visible {
  outline: none;
}

.company .btn-primary-lg {
  display: inline-flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 0px 5px 5px 0px;
  overflow: hidden;
  cursor: pointer;
}

.company .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.company .arrow-right {
  position: relative;
  width: 13px;
  height: 15px;
}

.company .frame-3 {
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
  display: inline-flex;
  position: relative;
}

.company .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.company .ellipse {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: #000000;
  border-radius: 2.5px;
}

.company .frame-4 {
  padding-top: 100px;
}

.company .frame-4 .button {
  padding: 16px;
  background-color: #0065ff;
  color: #fff;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.company .wrapper-img-comments {
  position: absolute;
  top: 50%;
  right: 45%;
  z-index: 1;
}

.company .wrapper-img-shelves {
  position: absolute;
  top: 0;
  left: 50%;
}

/* section 1 css end */

/* section 2 css */
.about {
  display: flex;
  width: 100%;
  height: 700px;
  margin-top: 200px;
  margin-bottom: 50px;
  padding: 0 10%;
}

.about .wrapper-img {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.about .img {
  width: 100%;
  object-fit: cover;
}

.about .card {
  display: flex;
  width: 350px;
  flex-direction: column;
  gap: 30px;
  position: relative;
  left: -40px;
}

.about .card .header {
  color: #000;
  font-family: "Montserrat-Black", Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0;
  line-height: normal;
}

.about .card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.about .card .content .item {
  display: flex;
  width: 320px;
  padding: 15px;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  color: #9CA0AC;
}

.about .card .content .item .icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.about .card .content .item .text {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

/* section 2 css end */

/* section 3 css */
.docs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  background-color: var(--bg-gray-light);
}

.docs .content-description {
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.docs .description-title {
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.docs .description-subtitle {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.docs .content-docs {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.docs .content-docs .doc-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  box-shadow: 0px 0px 10px #9ca0ac66;
  height: 100%;
}

.docs .content-docs .doc-item .img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.docs .content-docs .doc-item .text-wrapper {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  text-align: center;
}

/* section 3 css end */


/* section 4 css */
.benefits {
  display: flex;
  flex-direction: column;
  height: 925px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
}

.benefits .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-bottom: 100px;
  position: relative;
}

.benefits .content .content-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 112px;
}

.benefits .content .content-header .content-header-title {
  font-family: "Roboto-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 130%;
  text-align: center;
}

.benefits .frame-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.benefits .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.benefits .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  position: relative;
  align-self: stretch;
  background-color: var(--bg-gray-light);
  border-radius: 10px;
}

.benefits .group-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.benefits .brands-wrapper {
  position: relative;
  height: 38px;
  margin-right: -2px;
}

.benefits .text-wrapper {
  position: absolute;
  height: 38px;
  top: 0;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.benefits .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.benefits .frame-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.benefits .vector {
  height: 19px;
  position: relative;
  width: 25px;
}

.benefits .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.benefits .p {
  position: relative;
  width: 370px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.benefits .marketers-wrapper {
  position: relative;
  height: 38px;
  margin-right: -2px;
}

.benefits .img {
  position: relative;
  width: 25px;
  height: 25px;
}

.benefits .web-designers-wrapper {
  width: 165px;
  position: relative;
  height: 38px;
  margin-right: -2px;
}

.benefits .social-proof-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.benefits .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.benefits .image {
  position: relative;
  width: 91px;
  height: 28px;
  object-fit: cover;
}

.benefits .storytelling-on-wrapper {
  position: relative;
  width: 502px;
  height: 84px;
}

.benefits .storytelling-on {
  position: absolute;
  width: 500px;
  height: 84px;
  top: 0;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.benefits .frame-8 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.benefits .rectangle {
  position: relative;
  width: 80px;
  height: 80px;
}

.benefits .ben-calahen-COO-at {
  position: relative;
  width: fit-content;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.benefits .span {
  font-weight: 700;
}

.benefits .text-wrapper-3 {
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

/* section 4 css end */

/* section 5 */

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
  gap: 70px;
  background: #111827;
}

.features .content-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 112px;
  color: #FFF;

  text-align: center;
  font-family: "Roboto", Helvetica;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.features .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.features .content .card {
  display: flex;
  width: 310px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  background: #EEf1f7;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.features .content .card .wrapper-header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px;
  padding-bottom: 0;
}

.features .content .card .header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.features .content .card .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #fff;
  color: #000;
  padding: 20px;
}

.features .content .card .frame .title {
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.features .content .card .frame .text {
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}