.start-trial-component {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
}

.start-trial-component .start-trial-header {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.start-trial-component .start-trial-header .form-control {
  width: 250px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 5px 0px 0px 5px;
}

.start-trial-component .start-trial-header .form-control .text {
  width: 100%;
  height: 100%;
  color: #9ca0ac;
  font-size: 16px;
}

.start-trial-component .start-trial-header .form-control .text:focus-visible {
  outline: none;
}

.start-trial-component .start-trial-header .btn-primary-lg {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 16px;
  background-color: #000000;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.start-trial-component .start-trial-header .btn-primary-lg .text {
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}

.start-trial-component .start-trial-header .btn-primary-lg .arrow-right {
  width: 13px;
  height: 15px;
}

.start-trial-component .tags-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
}

.start-trial-component .tags-wrapper .tag-text {
  font-size: 14px;
}

.start-trial-component .tags-wrapper .ellipse {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: #000000;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .start-trial-component .start-trial-header {
    justify-content: center;
  }

  .start-trial-component .start-trial-header .form-control {
    display: none;
  }

  .start-trial-component .tags-wrapper {
    display: none;
  }

  .start-trial-component .start-trial-header .btn-primary-lg {
    border-radius: 5px;
  }
}