body {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  background-color: var(--color-background);
  font-size: var(--font-size-medium);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  margin: 0;
}

p, span, a, li {
  font-size: var(--font-size-medium);
  color: var(--color-secondary);
} 