{% extends "_base.html" %}
{% block title %}Pricing{% endblock title %}
{% block styles %}
<link rel="stylesheet" href='/pricing.css'>
<link rel="stylesheet" href='/docsie.css'>
{% endblock styles %}
{% block content %}
<script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 7439277,playbookUuid: 'de0ebea2-8e31-4549-a66c-98b6ed822be0',version: 2};</script><script src="https://leadbooster-chat.pipedrive.com/assets/loader.js" async></script>

<main id="main">
  <div class="pure-docsie ready gn" style="max-width: 100%;">
    <article class="docsie-doc">
      <div class="docsie-content">
        <header class="docsie-header docsie-grid" id="section-page-header">
          <div class="docsie-section-container" role="presentation">
            <h1 class="docsie-title">Self-writing docs.</h1>
            <h2 class="docsie-subtitle">Reduce time and money spent on technical writing and translation.</h2>
          </div>

        </header>
        <section class="docsie-section docsie-grid grid-4 docsie-pricing-table">
          <div class="docsie-section-container" role="presentation">
            <div class="docsie-grid-cell docsie-price-tier">
              <div class="docsie-card">
                <div>
                  <h3>Start-up</h3>
                  <p class="meta">
                   Docs for start-ups with one simple software product
                </p>
                </div>
                <div class="tier-description">
                  <p class="hide-sm">
                  <a class="ui-bt ui-prime" href="https://calendly.com/docsie-io/discovery-call">
                    Book a Discovery
                    </a>
                  </p>
                  <ul class="tier-description">
                    <li><strong>Docs written, translated and published for you</strong></li>
                    <li>Up to four documentation books</li>
                    <li>3 revisions per month</li>
                    <li>Docs translated in 1 additional language (up to 10,000 words per book)</li>
                    <li>Docs styled for you</li>
                    <li>Custom CSS to match your brands look and feel</li>
                    <li>Google Analytics</li>
                    <li>See how your users interact with your docs using Docsie Vocally</li>
                    <li>Custom documentation landing page with custom design</li>
                    <li>Search functionality for documentation articles</li>
                    <li>Complimentary documentation import</li>
                  </ul>
                </div>
                <!--<p class="tier-footer hide-sm">-->
                  <!--<a href="#docsiePricing">Learn More <svg class="inl" width="22" height="22" viewBox="0 0 20 20">-->
                      <!--<use xlink:href="#icon-arrow-right"></use></svg></a>-->
                <!--</p>-->
                <p class="show-sm">
                  <a class="ui-bt ui-prime" href="https://app.docsie.io/manager/">
                    Try for free
                  </a>
                </p>
              </div>
            </div>

            <div class="docsie-grid-cell docsie-price-tier">
              <div class="docsie-card">
                <div>
                  <h3>Business</h3>
                  <p class="meta">
                    Docs for complex software products & multi-product companies
                  </p>
                </div>
                <div class="tier-description">
                  <p class="hide-sm">
                  <a class="ui-bt ui-prime" href="https://calendly.com/docsie-io/discovery-call">
                    Book a Demo
                    </a>
                  </p>
                  <ul class="tier-description">
                    <li><strong>All the benefits of Start-up, and:</strong></li>
                    <li>Up to 20 documentation books</li>
                    <li>Translations into 3 languages (up to 15,000 words per book)</li>
                    <li>Up to 10 revisions per month</li>
                    <li>Password protect book/Password protect shelves</li>
                    <li>Define your own design/style-sheet for published documentation</li>
                    <li>Use Custom Javascript</li>
                    <li>Adapt the layout of the documentation site according to the requirements of your UX department</li>
                  </ul>
                </div>
                <!--<p class="tier-footer hide-sm">-->
                  <!--<a href="#docsiePricing">Learn More <svg class="inl" width="22" height="22" viewBox="0 0 20 20">-->
                      <!--<use xlink:href="#icon-arrow-right"></use></svg></a>-->
                <!--</p>-->
                <p class="show-sm">
                  <a class="ui-bt ui-prime" href="https://calendly.com/docsie-io/discovery-call">
                    Book a Discovery
                  </a>
                </p>
              </div>
            </div>

            <div class="docsie-grid-cell docsie-price-tier">
              <div class="docsie-card">
              <div>
                <h3>Entreprise</h3>
                <p class="meta tier-description">
                  Docs for companies with complex security requirements.
                </p>
              </div>
              <div class="tier-description">
                <p class="hide-sm">
                  <a class="ui-bt ui-prime" href="https://calendly.com/docsie-io/discovery-call">
                    Contact Sales
                  </a>
                </p>
                <ul class="tier-description">
                  <li><strong>All the benefits of Business, and:</strong></li>
                  <li>Unlimited books and shelves</li>
                  <li>Starting from 50 Revisions per month</li>
                  <li>Translations into 7 languages (up to 25,000 words each book)</li>
                  <li>Integrate published documentation with your IAM</li>
                  <li>Integrate Docsie backend with internal SSO server</li>
                  <li>Docsie hosted on your own infrastructure for GDPR and Security compliance</li>
                </ul>
              </div>
                <!--<p class="tier-footer hide-sm">-->
                  <!--<a href="#docsiePricing">Learn More <svg class="inl" width="22" height="22" viewBox="0 0 20 20">-->
                      <!--<use xlink:href="#icon-arrow-right"></use></svg></a>-->
                <!--</p>-->
                <p class="show-sm">
                  <a class="ui-bt ui-prime" href="https://calendly.com/docsie-io/discovery-call">
                    Contact sales
                  </a>
                </p>
              </div>
            </div>

          </div>
        </section>

        <section class="docsie-section docsie-grid docsie-pricing hide-sm">
          <div class="docsie-section-container" role="presentation">
          <table id="docsiePricing">
            <thead>
              <tr>
                <th></th>
                  <th></th>
                <th>Small Team</th>
                  <th></th>
                <th>Business</th>
                  <th></th>
                <th>Entreprise</th>
              </tr>
            </thead>
            <tbody>
              <tr class="title">
                <th>Docsie Manager</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td>
              </tr>
              <tr>
                <th>Team Size</th><td></td>
                <td>5</td><td></td>
                <td>30</td><td></td>
                <td>Unlimited</td>
              </tr>
              <tr>
                <th>Shelves</th><td></td>
                <td>3</td><td></td>
                <td>Unlimited</td><td></td>
                <td>Unlimited</td>
              </tr>
              <tr>
                <th>Books</th><td></td>
                <td>15</td><td></td>
                <td>Unlimited</td><td></td>
                <td>Unlimited</td>
              </tr>
              <tr>
                <th>Organize Shelves</th><td></td>
                <td></td><td></td>
                <td>✔️</td><td></td>
                <td>✔️</td>
              </tr>

              <tr class="title">
                <th>Docsie Editor</th><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td>
              </tr>

              <tr>
                <th>Versions</th><td></td>
                <td>5</td><td></td>
                <td>Unlimited</td><td></td>
                <td>Unlimited</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td><td></td>
                <td><a href="https://calendly.com/docsie-io/discovery-call">Talk to Us</a></td>
                <td><a href="https://calendly.com/docsie-io/discovery-call">Book a Demo</a></td>
                <td><a href="https://calendly.com/docsie-io/discovery-call">Contact sales</a></td>
              </tr>
            </tfoot>
          </table>
          </div>
        </section>
      </div>
    </article>
  </div>
  <div role="presentation" data-ddsroot></div>
</main>
{% endblock content %}
<script src="https://www.docsie.io/redirect-service.js"></script>
{% block scripts %}
<script async type="text/javascript" src="https://lib.docsie.io/1.4.10/service.js"
  data-docsie="live_pk_6Y24rR0t7GWA6yo6cdSwZ8q3:boo_CQIeD5drM0TCIxdfB,navigation:false,footer:false,sectionAnchor:false,viewportWidth:100%"></script>
{% endblock scripts %}
