:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Arimo', sans-serif;
  --color-primary: #101212;
  --color-secondary: #39464E;
  --color-accent: #B11111;
  --color-background: #FFFFFF;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
} 