.docsie-about-wrapper {
  width: 100%;
  padding: 0 5%;
  background: #FAFFFF;
  display: flex;
}

.docsie-about-wrapper .docsie-about-text-style {
  color: #B11111;
}

.docsie-about-wrapper .docsie-about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
  justify-content: center;
}

.docsie-about-wrapper .docsie-about-text-wrapper .docsie-about-details-text {
  font-family: 'Open Sans', sans-serif;
  color: #39464E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 20px;
}

.docsie-about-wrapper .docsie-about-text-wrapper .docsie-about-title {
  color: #101212;
  font-family: 'Arimo', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  text-transform: capitalize;
}

.docsie-about-wrapper .docsie-about-text-wrapper .docsie-about-text {
  color: #39464E;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.48px;
}

.docsie-about-wrapper .docsie-about-text-wrapper .docsie-about-reviews-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.docsie-about-wrapper .docsie-about-location {
  width: 50%;
  background-image: url("/assets/new_home/canada.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}