{% if section %}
<section class="gallery-section section-padding">
    <div class="container">
        <div class="image-gallery">
            {% for image in section.gallery_images %}
            <div class="gallery-item">
                {{ image.image | optimized_image | safe }}
                {% if image.caption %}
                <p class="caption">{{ image.caption }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}