{% extends "_base.html" %}
{% set small_header = 'it worked' %}
{% block title %}{% trans %}Create documentation that your customers love{% endtrans %}{% endblock title %}
{% block description %}{% trans %}Save time and retain customers, write, translate and manage better product documentation with Docsie{% endtrans %}{% endblock description %}
{% block shareimage %}https://www.docsie.io/assets/share-image.jpeg{% endblock shareimage %}
{% block styles %}
<link rel="stylesheet" href='/index.css'>
{% endblock styles %}
{% block content %}
<!-- Page Content -->
<main id="main">
  <div class="pure-docsie ready gn" style="max-width: 100%;">
    <article class="docsie-doc">

      <header class="docsie-header sd-header" id="section-page-header">


        <div class="docsie-header-conatiner" role="presentation">
              <script src="https://fast.wistia.com/embed/medias/myo0pobx26.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:60.63% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_myo0pobx26 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/myo0pobx26/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

        </div>


      </header>
    </article>
  </div>
</main>
{% endblock content %}
{% block scripts %}
<!--<script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 7439277,playbookUuid: '502e0bf3-9f6d-43b6-8a74-cfddf7e5e541',version: 2};</script><script src="https://leadbooster-chat.pipedrive.com/assets/loader.js" async></script>-->
<!--<script src="https://www.docsie.io/redirect-service.js"></script>-->
{% include '_rss.html' %}


{% include '_form3.html' %}
{% include '_carousel.html' %}
{% endblock scripts %}
